# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# aws-credentials
aws-credentials

# .terraform
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc

#.coverage
.coverage